{% extends "base.html" %}

<html>
<body>
{% block content%}
<head>
    <link rel="stylesheet" href="static/css/custom/adddatasource.css">
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.0/classic/ckeditor.js"></script>
</head>
<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
      <div class="col grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <a href='/manage' class="btn btn-inverse-info btn-sm btn-fw" style="margin-bottom: 30px;"><i class="mdi mdi-code-less-than me-2"></i>Back to Data Source</a>
              <h2>NEW DATA SOURCES</h2>
              <p class="card-description">
                Data sources, such as a text and documents, are used to train the chatbot. To add a new data source, select a type from below.
              </p>
              <div class="my-2 d-flex justify-content-between align-items-center">
                <div class="form-group">
                  <a class="btn btn-outline-danger btn-data-source btn-fw me-2 active" onclick="setActiveButton(1); showDiv('text')"><i class="mdi mdi-format-list-bulleted me-2"></i>Text</a>
                  <a class="btn btn-outline-danger btn-data-source btn-fw me-2" onclick="setActiveButton(2); showDiv('faq')"><i class="mdi mdi-help-circle-outline me-2"></i>FAQ</a>
                </div>
              </div>

              <!-- Text Input Data Source -->
              <div id="text-data-source" class="data-source active">
                <p class="card-description">
                    Enter the text that you want to train the chatbot on. Ideally, this would be the information you want the chatbot to learn, which may not be available via other sources such as your website.
                </p>
                <form action="/save-text-vector" method="post" id="text-form">
                    <textarea name="textarea" id="editor" rows="10"></textarea>
                    <p id="message" style="display: none; margin-top: 20px;"><i class="mdi mdi-help-circle-outline" style="margin-right: 5px;"></i>Enter the text</p>
                    <div class="progress progress-lg" id="progress-bar" style="display: none; margin-top: 20px;">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0% completed</div>
                    </div>
                    <button type="submit" class="btn btn-danger mt-2" id="text-submit-button">
                      <span class="spinner-border spinner-border-sm visually-hidden" role="status" aria-hidden="true"></span>
                      Submit
                    </button>
                </form>
              </div>


              <!-- FAQ Input Data Source -->
              <div id="faq-data-source" class="data-source">
                <p class="card-description">
                    Enter the frequently asked questions and answers you want the chatbot to learn.
                </p>
                <form action="/save-faq" method="post" id="faq-form">
                    <div class="faq-inputs">
                        <div class="row">
                          <div class="col-md-9">
                            <div class="form-group">
                              <label for="exampleInputPassword1"><b>Question:</b></label>
                              <input type="text" name="questions" class="form-control" id="questions" placeholder="Enter the Question" Required>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="exampleInputPassword1"><b>Office of Concern</b></label>
                              <select class="form-select" name="selectOffice" aria-label="Default select example" required>
                                <option selected>Select Office</option>
                                <option value="Registrar">Registrar</option>
                                <option value="TAO">TAO</option>
                                <option value="Colleges">Colleges</option>
                                <option value="Clinic">Clinic</option>
                                <option value="SOA">SOA</option>
                                <option value="Scholarship">Scholarship</option>
                                <option value="Accounting">Accounting</option>
                                <option value="Cashier">Cashier</option>
                                <option value="ICT Services">ICT Services</option>
                                <option value="Guidance">Guidance</option>
                                <option value="RGO">RGO</option>
                                <option value="Library">Library</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="editor2"><b>Answer:</b></label>
                            <textarea name="answers" id="FAQEditor" rows="100"></textarea>
                        </div>
                        <p id="faq-message" style="display: none; margin-top: 20px;"><i class="mdi mdi-help-circle-outline" style="margin-right: 5px;"></i>Enter the text</p>
                    </div>
                    <button type="submit" class="btn btn-danger mt-2" id="faq-submit-button">
                      <span class="spinner-border spinner-border-sm visually-hidden" role="status" aria-hidden="true"></span>
                      Submit
                    </button>
                </form>
            </div>

            </div>
          </div>
      </div>
      </div>
    </div>
    </div>
{% endblock %}
</body>

{% block scripts %}
<script>
    // Custom JavaScript function to set active button
    function setActiveButton(buttonIndex) {
        const buttons = document.getElementsByClassName('btn-data-source');
        for (let i = 0; i < buttons.length; i++) {
            if (i + 1 === buttonIndex) {
                buttons[i].classList.add('active');
            } else {
                buttons[i].classList.remove('active');
            }
        }
    }
</script>

<script>
    function showDiv(source) {
        const dataSources = document.querySelectorAll('.data-source');
        dataSources.forEach(sourceDiv => {
            sourceDiv.classList.remove('active');
        });

        const selectedDiv = document.getElementById(`${source}-data-source`);
        selectedDiv.classList.add('active');
    }
</script>

<!--Text FORM-->
<script>
  var ckEditorInstanceText;

  document.addEventListener("DOMContentLoaded", function () {
    ClassicEditor
      .create(document.querySelector('#editor'), {
        toolbar: {
          items: ['bold', 'italic', 'link', 'bulletedList', 'numberedList', 'alignment', 'undo', 'redo']
        }
      })
      .then(function (editor) {
        ckEditorInstanceText = editor; // Store the CKEditor instance for later use
      })
      .catch(function (error) {
        console.error(error);
      });

    document.getElementById("text-form").addEventListener("submit", function (event) {
      event.preventDefault(); // Prevent the form from submitting normally

      const textarea = document.getElementById("editor");
      const message = document.getElementById("message");
      const textSubmitButton = document.getElementById("text-submit-button");

      if (textarea.value.trim() === "") {
        message.style.display = "block";
      } else {
        message.style.display = "none"; // Hide the message
        textSubmitButton.disabled = true; // Disable the submit button
        textSubmitButton.querySelector(".spinner-border").classList.remove("visually-hidden"); // Show the spinner

        fetch("/save-text-vector", {
          method: "POST",
          body: new FormData(document.getElementById("text-form")),
        })
          .then(function (response) {
            if (response.ok) {
              return response.json();
            } else {
              throw new Error("Error saving text.");
            }
          })
          .then(function (data) {
            ckEditorInstanceText.setData(''); // Clear the CKEditor content

            textSubmitButton.disabled = false;
            textSubmitButton.querySelector(".spinner-border").classList.add("visually-hidden");

            toastr.success(data.message);
          })
          .catch(function (error) {
            console.error(error);
          });
      }
    });
  });
</script>


<!--FAQs FORM-->
<script>
  var ckEditorInstance;
  
  document.addEventListener("DOMContentLoaded", function () {
    // Initialize CKEditor within the 'FAQEditor' element
    ClassicEditor
      .create(document.querySelector('#FAQEditor'), {
        toolbar: {
          items: ['bold', 'italic', 'link', 'bulletedList', 'numberedList', 'alignment', 'undo', 'redo']
        }
      })
      .then(function (editor) {
        ckEditorInstance = editor; // Store the CKEditor instance for later use
      })
      .catch(function (error) {
        console.error(error);
      });
  });

  document.getElementById("faq-form").addEventListener("submit", function (event) {
    event.preventDefault(); // Prevent the form from submitting normally
  
    const faq_questions = document.getElementById("questions");
    const faq_textarea = document.getElementById("FAQEditor");
    const faq_message = document.getElementById("faq-message");
    const submitButton = document.getElementById("faq-submit-button");
  
    // Validate the form inputs
    if (faq_textarea.value.trim() === "") {
      // If the textarea is empty, display the message and don't proceed with the form submission
      faq_message.style.display = "block";
    } else {
      // If there is text in the textarea, proceed with the form submission
      faq_message.style.display = "none"; // Hide the message
      submitButton.disabled = true; // Disable the submit button
      submitButton.querySelector(".spinner-border").classList.remove("visually-hidden"); // Show the spinner
  
      // Make an AJAX request to save the text
      fetch("/save-faq", {
        method: "POST",
        body: new FormData(document.getElementById("faq-form")),
      })
        .then(function (response) {
          if (response.ok) {
            return response.json();
          } else {
            throw new Error("Error saving text.");
          }
        })
        .then(function (data) {
          // Clear the CKEditor content
          ckEditorInstance.setData('');
          faq_questions.value = "";
  
          // Reset the select element to the default option
          const selectOffice = document.querySelector('select[name="selectOffice"]');
          selectOffice.selectedIndex = 0; // 0 corresponds to the default option

          submitButton.disabled = false;
          submitButton.querySelector(".spinner-border").classList.add("visually-hidden");
  
          toastr.success(data.message);
        })
        .catch(function (error) {
          console.error(error);
        });
    }
  });  
</script>



{% endblock %}

</html>