{% extends "base.html" %}

<html>
<body>
{% block content%}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <div class="home-tab">
                      <div class="tab-content tab-content-basic">
                        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview"> 
                          <div class="row">
                            <div class="col-sm-12">
                                <div class="statistics-details d-flex align-items-center justify-content-between">
                                    <div>
                                      <p class="statistics-title">Sessions</p>
                                      <h3 id="session-count"></h3>
                                      <p class="text-danger d-flex" id="session-percentage"><i class="mdi"></i><span id="session-percentage-change">Loading...</span></p>
                                    </div>
                                    <div>
                                      <p class="statistics-title">Bot Responses</p>
                                      <h3 id="bot-response-count"></h3>
                                      <p class="text-danger d-flex" id="botresponse-percentage"><i class="mdi"></i><span id="botresponse-percentage-change">Loading...</span></p>
                                    </div>
                                    <div>
                                      <p class="statistics-title">In Messages</p>
                                      <h3 id="in-message-count"></h3>
                                      <p class="text-danger d-flex" id="inmessages-percentage"><i class="mdi"></i><span id="inmessages-percentage-change">Loading...</span></p>
                                    </div>
                                    <div>
                                      <p class="statistics-title">Average Response Time</p>
                                      <h3 id="avg-response-time"></h3>
                                      <p class="text-danger d-flex" id="averageresponse-percentage"><i class="mdi"></i><span id="averageresponse-percentage-change">Loading...</span></p>
                                    </div>
                                    <div>
                                      <p class="statistics-title">Site Visitors</p>
                                      <h3 id="count-visitors"></h3>
                                      <p class="text-danger d-flex" id="sitevisitors-percentage"><i class="mdi"></i><span id="sitevisitors-percentage-change">Loading...</span></p>
                                    </div>
                                </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-8 d-flex flex-column">
                              <div class="row flex-grow">
                                <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                                  <div class="card card-rounded">
                                    <div class="card-body">
                                      <div class="d-sm-flex justify-content-between align-items-start">
                                        <div>
                                          <h4 class="card-title card-title-dash">Performance Line Chart</h4>
                                          <h5 class="card-subtitle card-subtitle-dash">RED Engagement Per Day</h5>
                                        </div>
                                      </div>
                                      <div class="d-sm-flex align-items-center mt-1 justify-content-between">
                                        <div></div>
                                        <div id="performance-line-legend"><div class="chartjs-legend"><ul><li><span style="background-color:#1F3BB3"></span>This week</li><li><span style="background-color:#52CDFF"></span>Last week</li></ul></div></div>
                                      </div>
                                      <div class="chartjs-wrapper mt-4">
                                        <div class="chartjs-size-monitor">
                                          <div class="chartjs-size-monitor-expand">
                                            <div class="">
                                            </div>
                                          </div>
                                          <div class="chartjs-size-monitor-shrink">
                                            <div class="">

                                            </div>
                                          </div>
                                        </div>
                                        <canvas id="performaneLine" style="display: block; height: 150px; width: 361px;" width="451" height="187" class="chartjs-render-monitor"></canvas> 
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-4 d-flex flex-column">
                              <div class="row flex-grow">
                                <div class="col-md-6 col-lg-12 grid-margin stretch-card">
                                  <div class="card bg-danger card-rounded">
                                    <div class="card-body pb-0">
                                      <h4 class="card-title card-title-dash text-white mb-4">Sessions Summary</h4>
                                      <div class="row">
                                        <div class="col-sm-4">
                                          <p class="status-summary-ight-white mb-1">This Week</p>
                                          <h2 class="text-light" id="total-session"></h2>
                                        </div>
                                        <div class="col-sm-8 ml-2">
                                          <div class="status-summary-chart-wrapper pb-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                            <canvas id="status-summary" width="451" height="82" style="display: block; height: 66px; width: 361px;" class="chartjs-render-monitor"></canvas>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-6 col-lg-12 grid-margin stretch-card">
                                  <div class="card card-rounded">
                                    <div class="card-body">
                                      <h4 class="card-title card-title-dash mb-4">Site Visitors Monthly Summary</h4>
                                      <div class="row">
                                        <div class="col-sm-6">
                                          <div class="d-flex justify-content-between align-items-center mb-2 mb-sm-0">
                                              <div class="circle-progress-width">
                                                  <div id="totalVisitors" class="progressbar-js-circle pr-2">
                                                      <div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(255, 255, 255); font-size: 0rem;">10</div>
                                                  </div>
                                              </div>
                                              <div>
                                                  <p class="text-small mb-2">Total Visitors</p>
                                                  <h4 class="mb-0 fw-bold" id="monthly-visitors"></h4> <!-- Display monthly visitors count -->
                                              </div>
                                          </div>
                                      </div>
                                  
                                      <div class="col-sm-6">
                                          <div class="d-flex justify-content-between align-items-center">
                                              <div class="circle-progress-width">
                                                  <div id="visitperday" class="progressbar-js-circle pr-2">
                                                      <div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(255, 255, 255); font-size: 0rem;">100</div>
                                                  </div>
                                              </div>
                                              <div>
                                                  <p class="text-small mb-2">Visits Today</p>
                                                  <h4 class="mb-0 fw-bold" id="today-visitors"></h4> <!-- Display daily visitors count -->
                                              </div>
                                          </div>
                                      </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-8 d-flex flex-column">
                              <div class="row flex-grow">
                                <div class="col-12 grid-margin stretch-card">
                                  <div class="card card-rounded">
                                    <div class="card-body">
                                      <div class="d-sm-flex justify-content-between align-items-start">
                                        <div>
                                          <h4 class="card-title card-title-dash">Performance Bar Chart</h4>
                                          <p class="card-subtitle card-subtitle-dash">RED Engagement Per Month</p>
                                        </div>
                                        <div>
                                          <select id="yearSelect" class="form-select" aria-label="Select Year">
                                            <option selected disabled>Select Year</option>
                                        </select>
                                        
                                        <script>
                                            // Get the select element
                                            var select = document.getElementById("yearSelect");
                                        
                                            // Get the current year
                                            var currentYear = new Date().getFullYear();
                                        
                                            // Generate options for every year starting from 2023 to the current year
                                            for (var year = 2023; year <= currentYear; year++) {
                                                var option = document.createElement("option");
                                                option.text = year;
                                                option.value = year;
                                                select.appendChild(option);
                                            }
                                        </script>
                                        

                                        </div>
                                      </div>
                                      <div class="d-sm-flex align-items-center mt-1 justify-content-between">
                                        <div></div>
                                        <div class="me-3"><div id="marketing-overview-legend"><div class="chartjs-legend"><ul><li class="text-muted text-small"><span style="background-color:#52CDFF"></span>Last week</li><li class="text-muted text-small"><span style="background-color:#1F3BB3"></span>This week</li></ul></div></div></div>
                                      </div>
                                      <div class="chartjs-bar-wrapper mt-3"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                        <canvas id="performanceBarChart" width="451" height="187" style="display: block; height: 350px; width: 361px;" class="chartjs-render-monitor"></canvas>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-4 d-flex flex-column">
                              <div class="row flex-grow">
                                <div class="col-12 grid-margin stretch-card">
                                  <div class="card card-rounded">
                                    <div class="card-body">
                                      <div class="row">
                                        <div class="col-lg-12"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                          <div class="d-flex justify-content-between align-items-center mb-3">
                                            <h4 class="card-title card-title-dash">User Satisfaction</h4>
                                          </div>
                                          <canvas class="my-auto chartjs-render-monitor" id="doughnutChart" height="300" width="451" style="display: block; height: 240px; width: 361px;"></canvas>
                                          <div id="doughnut-chart-legend" class="mt-5 text-center"><div class="chartjs-legend"><ul class="justify-content-center"><li><span style="background-color:#1F3BB3"></span>Total</li><li><span style="background-color:#FDD0C7"></span>Net</li><li><span style="background-color:#52CDFF"></span>Gross</li><li><span style="background-color:#81DADA"></span>AVG</li></ul></div></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row flex-grow">
                                <div class="col-12 grid-margin stretch-card">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
{% endblock %}
</body>

{% block scripts %}

<script>
  // Fetch data from your Flask route
  $(document).ready(function () {
    fetchPercentageChange("#session-percentage-change", "/fetch-session-change");
    fetchPercentageChange("#inmessages-percentage-change", "/fetch-inmessages-change");
    fetchPercentageChange("#botresponse-percentage-change", "/fetch-botresponse-change");
    fetchPercentageChange("#averageresponse-percentage-change", "/fetch-averageresponse-change");
    fetchPercentageChange("#sitevisitors-percentage-change", "/fetch-visitor-change");

    function fetchPercentageChange(elementId, route) {
      // Show loading text before making the AJAX request
      $(elementId).text("Loading...");

      $.ajax({
        type: "GET",
        url: route,
        success: function (data) {
          // Update the content of the span element with the fetched percentage change and sign
          var percentageChange = data.percentage_change;
          var sign = percentageChange > 0 ? '+' : '';
          $(elementId).text(sign + percentageChange + "%");
        },
        error: function (error) {
          console.error("Error fetching data:", error);
          $(elementId).text("N/A");
        }
      });
    }
  });
</script>

<script>
  $(document).ready(function() {
      // Fetch session change data from the server
      $.get('/fetch-session-change', function(data) {
          var percentageChange = data.percentage_change;
  
          // Check if the percentage change is less than 0
          if (percentageChange < 0) {
              $('#session-percentage').attr("title", "Down " + Math.abs(percentageChange) + "% from the previous week value of: " + data.added_sessions_last_week);
          } else {
              $('#session-percentage').attr("title", "Up " + percentageChange + "% from the previous week value of: " + data.added_sessions_last_week);
          }
      });
  });
</script>

<script>
  $(document).ready(function() {
      // Fetch session change data from the server
      $.get('/fetch-visitor-change', function(data) {
          var percentageChange = data.percentage_change;
  
          // Check if the percentage change is less than 0
          if (percentageChange < 0) {
              $('#sitevisitors-percentage').attr("title", "Down " + Math.abs(percentageChange) + "% from the previous week value of: " + data.added_visitors);
          } else {
              $('#sitevisitors-percentage').attr("title", "Up " + percentageChange + "% from the previous week value of: " + data.added_visitors);
          }
      });
  });
</script>

<script>
  $(document).ready(function() {
      // Fetch session change data from the server
      $.get('/fetch-inmessages-change', function(data) {
          var percentageChange = data.percentage_change;
  
          // Check if the percentage change is less than 0
          if (percentageChange < 0) {
              $('#inmessages-percentage').attr("title", "Down " + Math.abs(percentageChange) + "% from the previous week value of: " + data.added_inmessages);
          } else {
              $('#inmessages-percentage').attr("title", "Up " + percentageChange + "% from the previous week value of: " + data.added_inmessages);
          }
      });
  });
</script>

<script>
  $(document).ready(function() {
      // Fetch session change data from the server
      $.get('/fetch-botresponse-change', function(data) {
          var percentageChange = data.percentage_change;
  
          // Check if the percentage change is less than 0
          if (percentageChange < 0) {
              $('#botresponse-percentage').attr("title", "Down " + Math.abs(percentageChange) + "% from the previous week value of: " + data.added_botresponse);
          } else {
              $('#botresponse-percentage').attr("title", "Up " + percentageChange + "% from the previous week value of: " + data.added_botresponse);
          }
      });
  });
</script>

<script>
  $(document).ready(function() {
      // Fetch session change data from the server
      $.get('/fetch-botresponse-change', function(data) {
          var percentageChange = data.percentage_change;
  
          // Check if the percentage change is less than 0
          if (percentageChange < 0) {
              $('#botresponse-percentage').attr("title", "Down " + Math.abs(percentageChange) + "% from the previous week value of: " + data.added_botresponse);
          } else {
              $('#botresponse-percentage').attr("title", "Up " + percentageChange + "% from the previous week value of: " + data.added_botresponse);
          }
      });
  });
</script>

<script>
  $(document).ready(function() {
      // Fetch session change data from the server
      $.get('/fetch-averageresponse-change', function(data) {
          var percentageChange = data.percentage_change;
  
          // Check if the percentage change is less than 0
          if (percentageChange < 0) {
              $('#averageresponse-percentage').attr("title", "Down " + Math.abs(percentageChange) + "% from the previous week value of: " + data.added_response);
          } else {
              $('#averageresponse-percentage').attr("title", "Up " + percentageChange + "% from the previous week value of: " + data.added_response);
          }
      });
  });
</script>
  

<script>
  $(document).ready(function() {
    fetchSessionSummary();
  });

  function fetchSessionSummary(){
    fetch('/session-summary-data')
      .then(response => response.json())
      .then(data => {
        updateSessionSummary(data);
      })
      .catch(error => console.error(error));
  }

  function updateSessionSummary(data){
    console.log("Session Days:", data.current_week_data.map(row => row.day));
    console.log("Session Counts:", data.current_week_data.map(row => row.session_count));
    
    $('#total-session').text(data.total_sessions);
    var statusSummaryChartCanvas = document.getElementById("status-summary").getContext('2d');
    
    // Extract session counts from the received data
    var sessionCounts = data.current_week_data.map(row => row.session_count);
    var sessionDays = data.current_week_data.map(row => row.day);

    var statusData = {
        labels: sessionDays,
        datasets: [{
            label: '# of Sessions',
            data: sessionCounts,
            backgroundColor: "#FFFF",
            borderColor: [
                '#FFFF',
            ],
            borderWidth: 2,
            fill: false,
            pointBorderWidth: 0,
            pointRadius: [0, 0, 0, 0, 0, 0, 0],
            pointHoverRadius: [0, 0, 0, 0, 0, 0, 0],
        }]
    };

    var statusOptions = {
      responsive: true,
      maintainAspectRatio: false,
        scales: {
            yAxes: [{
                display: false,
                gridLines: {
                    display: false,
                    drawBorder: false,
                    color: "#F0F0F0"
                },
                ticks: {
                    beginAtZero: false,
                    autoSkip: true,
                    maxTicksLimit: 4,
                    fontSize: 10,
                    color: "#FFFF"
                }
            }],
            xAxes: [{
                display: false,
                gridLines: {
                    display: false,
                    drawBorder: false,
                },
                ticks: {
                    beginAtZero: false,
                    autoSkip: true,
                    maxTicksLimit: 7,
                    fontSize: 10,
                    color: "#FFF"
                }
            }],
        },
        legend: false,

        elements: {
            line: {
                tension: 0.4,
            }
        },
        tooltips: {
            backgroundColor: 'rgba(31, 59, 179, 1)',
        }
    }
    var statusSummaryChart = new Chart(statusSummaryChartCanvas, {
        type: 'line',
        data: statusData,
        options: statusOptions
    });
  }

</script>


<script>
  // Get the session count value from Flask and embed it into the JavaScript
  const sessionCount = {{ session_count }};
  const inMessageCount = {{ inMessage_count }};
  const botResponseCount = {{ botMessage_count }};
  const avgResponseTime = {{ avg_response_time }};
  const countVisitors = {{ visitor_count }};
  const todayVisitors = {{ today_visitors }};
  const monthlyVisitors = {{ monthly_visitors }};

  $('#session-count').text(sessionCount);
  $('#in-message-count').text(inMessageCount);
  $('#bot-response-count').text(botResponseCount);
  $('#avg-response-time').text(avgResponseTime).append(" seconds");
  $('#count-visitors').text(countVisitors);
  $('#today-visitors').text(todayVisitors);
  $('#monthly-visitors').text(monthlyVisitors);
</script>

<script>
  $(document).ready(function() {
    fetchPerformanceLineChart();

    function fetchPerformanceLineChart(){
      fetch('/performance-linechart-data')
        .then(response => response.json())
        .then(data => {
            updateLineChart(data);
        })
        .catch(error => console.error(error));
    }
  });

  function updateLineChart(data){
    var graphGradient = document.getElementById("performaneLine").getContext('2d');
    var graphGradient2 = document.getElementById("performaneLine").getContext('2d');
    var saleGradientBg = graphGradient.createLinearGradient(5, 0, 5, 100);
    saleGradientBg.addColorStop(0, 'rgba(26, 115, 232, 0.18)');
    saleGradientBg.addColorStop(1, 'rgba(26, 115, 232, 0.02)');
    var saleGradientBg2 = graphGradient2.createLinearGradient(100, 0, 50, 150);
    saleGradientBg2.addColorStop(0, 'rgba(0, 208, 255, 0.19)');
    saleGradientBg2.addColorStop(1, 'rgba(0, 208, 255, 0.03)');

    var salesTopData = {
        labels: data.days,
        datasets: [{
            label: 'This week',
            data: data.current_week_session_data,
            backgroundColor: saleGradientBg,
            borderColor: [
                '#1F3BB3',
            ],
            borderWidth: 1.5,
            fill: true, // 3: no fill
            pointBorderWidth: 1,
            pointRadius: [4, 4, 4, 4, 4,4, 4, 4, 4, 4,4, 4, 4],
            pointHoverRadius: [2, 2, 2, 2, 2,2, 2, 2, 2, 2,2, 2, 2],
            pointBackgroundColor: ['#1F3BB3)', '#1F3BB3', '#1F3BB3', '#1F3BB3','#1F3BB3)', '#1F3BB3', '#1F3BB3',],
            pointBorderColor: ['#fff','#fff','#fff','#fff','#fff','#fff','#fff',],
        },{
          label: 'Last week',
          data: data.last_week_session_data,
          backgroundColor: saleGradientBg2,
          borderColor: [
              '#52CDFF',
          ],
          borderWidth: 1.5,
          fill: true, // 3: no fill
          pointBorderWidth: 1,
          pointRadius: [4, 4, 4, 4, 4,4, 4, 4, 4, 4,4, 4, 4],
          pointHoverRadius: [2, 2, 2, 2, 2,2, 2, 2, 2, 2,2, 2, 2],
          pointBackgroundColor: ['#52CDFF)', '#52CDFF', '#52CDFF', '#52CDFF','#52CDFF)', '#52CDFF', '#52CDFF',],
            pointBorderColor: ['#fff','#fff','#fff','#fff','#fff','#fff','#fff',],
      }]
    };

    var salesTopOptions = {
      responsive: true,
      maintainAspectRatio: false,
        scales: {
            yAxes: [{
                gridLines: {
                    display: true,
                    drawBorder: false,
                    color:"#F0F0F0",
                    zeroLineColor: '#F0F0F0',
                },
                ticks: {
                  beginAtZero: false,
                  autoSkip: true,
                  maxTicksLimit: 4,
                  fontSize: 10,
                  color:"#6B778C"
                }
            }],
            xAxes: [{
              gridLines: {
                  display: false,
                  drawBorder: false,
              },
              ticks: {
                beginAtZero: false,
                autoSkip: true,
                maxTicksLimit: 7,
                fontSize: 10,
                color:"#6B778C"
              }
          }],
        },
        legend:false,
        legendCallback: function (chart) {
          var text = [];
          text.push('<div class="chartjs-legend"><ul>');
          for (var i = 0; i < chart.data.datasets.length; i++) {
            console.log(chart.data.datasets[i]); // see what's inside the obj.
            text.push('<li>');
            text.push('<span style="background-color:' + chart.data.datasets[i].borderColor + '">' + '</span>');
            text.push(chart.data.datasets[i].label);
            text.push('</li>');
          }
          text.push('</ul></div>');
          return text.join("");
        },
        
        elements: {
            line: {
                tension: 0.4,
            }
        },
        tooltips: {
            backgroundColor: 'rgba(31, 59, 179, 1)',
        }
    }
    var salesTop = new Chart(graphGradient, {
        type: 'line',
        data: salesTopData,
        options: salesTopOptions
    });
    document.getElementById('performance-line-legend').innerHTML = salesTop.generateLegend();
  }
</script>

<script>
  $(document).ready(function() {
    fetchPerformanceBarChart();

    function fetchPerformanceBarChart() {
      fetch('/performance-barchart-data')
        .then(response => response.json())
        .then(data => {
            updateBarChart(data);
        })
        .catch(error => console.error(error));
    }

    $('#yearSelect').change(function() {
      fetchPerformanceBarChart($(this).val());
    });

    function fetchPerformanceBarChart(selectedYear) {
      var url = '/filter-performance-barchart-data';
      if (selectedYear) {
        url += '?year=' + selectedYear;
      }
      fetch(url)
        .then(response => response.json())
        .then(data => {
          updateBarChart(data);
        })
        .catch(error => console.error(error));
    }
  });

  function updateBarChart(data) {
    var marketingOverviewChart = document.getElementById("performanceBarChart").getContext('2d');
    var marketingOverviewData = {
        labels: data.months,
        datasets: [{
          label: 'Total Users',
          data: data.session_counts,
          backgroundColor: "#CE1E2D",
          borderColor: [
              '#CE1E2D',
          ],
          borderWidth: 0,
          fill: true,
      }]
    };

    var marketingOverviewOptions = {
      responsive: true,
      maintainAspectRatio: false,
        scales: {
            yAxes: [{
                gridLines: {
                    display: true,
                    drawBorder: false,
                    color:"#F0F0F0",
                    zeroLineColor: '#F0F0F0',
                },
                ticks: {
                  beginAtZero: true,
                  autoSkip: true,
                  maxTicksLimit: 5,
                  fontSize: 10,
                  color:"#6B778C"
                }
            }],
            xAxes: [{
              stacked: true,
              barPercentage: 0.35,
              gridLines: {
                  display: false,
                  drawBorder: false,
              },
              ticks: {
                beginAtZero: false,
                autoSkip: true,
                maxTicksLimit: 12,
                fontSize: 10,
                color:"#6B778C"
              }
          }],
        },
        legend:false,
        legendCallback: function (chart) {
          var text = [];
          text.push('<div class="chartjs-legend"><ul>');
          for (var i = 0; i < chart.data.datasets.length; i++) {
            console.log(chart.data.datasets[i]); // see what's inside the obj.
            text.push('<li class="text-muted text-small">');
            text.push('<span style="background-color:' + chart.data.datasets[i].borderColor + '">' + '</span>');
            text.push(chart.data.datasets[i].label);
            text.push('</li>');
          }
          text.push('</ul></div>');
          return text.join("");
        },
        
        elements: {
            line: {
                tension: 0.4,
            }
        },
        tooltips: {
            backgroundColor: 'rgba(31, 59, 179, 1)',
        }
    };

    var marketingOverview = new Chart(marketingOverviewChart, {
        type: 'bar',
        data: marketingOverviewData,
        options: marketingOverviewOptions
    });

    document.getElementById('marketing-overview-legend').innerHTML = marketingOverview.generateLegend();
  }
</script>


<script>
  $(document).ready(function() {
    fetchRatingsData();

    function fetchRatingsData() {
      fetch('/ratings-data')
        .then(response => response.json())
        .then(data => {
            updateChart(data);
        })
        .catch(error => console.error(error));
    }
  });

    function updateChart(data) {
        var doughnutChartCanvas = document.getElementById("doughnutChart");
        var doughnutPieData = {
            datasets: [{
                data: [data.satisfied, data.unsatisfied],  // Update chart data with fetched data
                backgroundColor: ["#1F3BB3", "#FDD0C7"],
                borderColor: ["#1F3BB3", "#FDD0C7"],
            }],
            labels: ['Satisfied', 'Unsatisfied'],
        };

        var doughnutPieOptions = {
            cutoutPercentage: 50,
            animationEasing: "easeOutBounce",
            animateRotate: true,
            animateScale: false,
            responsive: true,
            maintainAspectRatio: true,
            showScale: true,
            legend: false,
            legendCallback: function (chart) {
                var text = [];
                text.push('<div class="chartjs-legend"><ul class="justify-content-center">');
                for (var i = 0; i < chart.data.datasets[0].data.length; i++) {
                    text.push('<li><span style="background-color:' + chart.data.datasets[0].backgroundColor[i] + '">');
                    text.push('</span>');
                    if (chart.data.labels[i]) {
                        text.push(chart.data.labels[i]);
                    }
                    text.push('</li>');
                }
                text.push('</div></ul>');
                return text.join("");
            },
            layout: {
                padding: {
                    left: 0,
                    right: 0,
                    top: 0,
                    bottom: 0,
                },
            },
            tooltips: {
                callbacks: {
                    title: function (tooltipItem, data) {
                        return data['labels'][tooltipItem[0]['index']];
                    },
                    label: function (tooltipItem, data) {
                        return data['datasets'][0]['data'][tooltipItem['index']];
                    },
                    backgroundColor: '#fff',
                    titleFontSize: 14,
                    titleFontColor: '#0B0F32',
                    bodyFontColor: '#737F8B',
                    bodyFontSize: 11,
                    displayColors: false,
                },
            },
        };

        var doughnutChart = new Chart(doughnutChartCanvas, {
            type: 'doughnut',
            data: doughnutPieData,
            options: doughnutPieOptions,
        });
        document.getElementById('doughnut-chart-legend').innerHTML = doughnutChart.generateLegend();
    }

  </script>

<script>
  function visitorSummary(){
    //Chart for Site Visitors

    if ($('#totalVisitors').length) {
      var monthlyVisitorsCount = {{ monthly_visitors }};
      var bar = new ProgressBar.Circle(totalVisitors, {
        color: '#fff',
        // This has to be the same size as the maximum width to
        // prevent clipping
        strokeWidth: 15,
        trailWidth: 15, 
        easing: 'easeInOut',
        duration: 1400,
        text: {
          autoStyleContainer: false
        },
        from: {
          color: '#52CDFF',
          width: 15
        },
        to: {
          color: '#677ae4',
          width: 15
        },
        // Set default step function for all animate calls
        step: function(state, circle) {
          circle.path.setAttribute('stroke', state.color);
          circle.path.setAttribute('stroke-width', state.width);
  
          var value = Math.round(circle.value() * 100);
          if (value === 0) {
            circle.setText('');
          } else {
            circle.setText(value);
          }
  
        }
      });
  
      bar.text.style.fontSize = '0rem';
      bar.animate(monthlyVisitorsCount / 100); // Number from 0.0 to 1.0
    }

    if ($('#visitperday').length) {
      var dailyVisitorsCount = {{ today_visitors }};
      var bar = new ProgressBar.Circle(visitperday, {
        color: '#fff',
        // This has to be the same size as the maximum width to
        // prevent clipping
        strokeWidth: 15,
        trailWidth: 15,
        easing: 'easeInOut',
        duration: 1400,
        text: {
          autoStyleContainer: false
        },
        from: {
          color: '#34B1AA',
          width: 15
        },
        to: {
          color: '#677ae4',
          width: 15
        },
        // Set default step function for all animate calls
        step: function(state, circle) {
          circle.path.setAttribute('stroke', state.color);
          circle.path.setAttribute('stroke-width', state.width);
  
          var value = Math.round(circle.value() * 100);
          if (value === 0) {
            circle.setText('');
          } else {
            circle.setText(value);
          }
  
        }
      });
  
      bar.text.style.fontSize = '0rem';
      bar.animate(dailyVisitorsCount / 100); // Number from 0.0 to 1.0
    }
  }

  visitorSummary();
</script>

{% endblock %}

</html>
