{% extends "base.html" %}

<html>
<body>
{% block content%}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <div class="home-tab">
                        <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                            <div>
                              <div class="btn-wrapper">
                                <a href="#" class="btn btn-otline-dark"><i class="icon-printer"></i> Print</a>
                                <a href="#" class="btn btn-primary text-white me-0"><i class="icon-download"></i> Export</a>
                              </div>
                            </div>
                          </div>
                          <div class="tab-content tab-content-basic">
                            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview"> 
                              <div class="row">
                                <div class="col-sm-12">
                                    <div class="statistics-details d-flex align-items-center justify-content-between">
                                        <div>
                                          <p class="statistics-title">Sessions</p>
                                          <h3 class="rate-percentage" id="session-count"></h3>
                                          <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>68.8</span></p>
                                        </div>
                                        <div>
                                          <p class="statistics-title">Bot Responses</p>
                                          <h3 class="rate-percentage" id="bot-response-count"></h3>
                                          <p class="text-success d-flex"><i class="mdi mdi-menu-down"></i><span>+0.8%</span></p>
                                        </div>
                                        <div>
                                          <p class="statistics-title">In Messages</p>
                                          <h3 class="rate-percentage" id="in-message-count">11</h3>
                                          <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>68.8</span></p>
                                        </div>
                                        <div>
                                          <p class="statistics-title">Average Response Time</p>
                                          <h3 class="rate-percentage">6</h3>
                                          <p class="text-success d-flex"><i class="mdi mdi-menu-up"></i><span>+0.1%</span></p>
                                        </div>
                                        <div>
                                          <p class="statistics-title">Site Visitors</p>
                                          <h3 class="rate-percentage">17</h3>
                                          <p class="text-success d-flex"><i class="mdi mdi-menu-down"></i><span>+0.8%</span></p>
                                        </div>
                                    </div>
                                </div>
                              </div>

                              <div class="row">
                                <div class="col-lg-8 d-flex flex-column">
                                  <div class="row flex-grow">
                                    <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                                      <div class="card card-rounded">
                                        <div class="card-body">
                                          <div class="d-sm-flex justify-content-between align-items-start">
                                            <div>
                                             <h4 class="card-title card-title-dash">Performance Line Chart</h4>
                                             <h5 class="card-subtitle card-subtitle-dash">RED Engagement Per Day</h5>
                                            </div>
                                            <div class="dropdown">
                                              <button class="btn btn-light dropdown-toggle toggle-dark btn-lg mb-0 me-0" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="icon-download"></i> Export </button>
                                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                                <a class="dropdown-item" href="#">PDF</a>
                                                <a class="dropdown-item" href="#">CSV</a>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="d-sm-flex align-items-center mt-1 justify-content-between">
                                            <div></div>
                                            <div id="performance-line-legend"><div class="chartjs-legend"><ul><li><span style="background-color:#1F3BB3"></span>This week</li><li><span style="background-color:#52CDFF"></span>Last week</li></ul></div></div>
                                          </div>
                                          <div class="chartjs-wrapper mt-4">
                                            <div class="chartjs-size-monitor">
                                              <div class="chartjs-size-monitor-expand">
                                                <div class="">
                                                </div>
                                              </div>
                                              <div class="chartjs-size-monitor-shrink">
                                                <div class="">

                                                </div>
                                              </div>
                                            </div>
                                            <canvas id="performaneLine" style="display: block; height: 150px; width: 361px;" width="451" height="187" class="chartjs-render-monitor"></canvas> 
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-4 d-flex flex-column">
                                  <div class="row flex-grow">
                                    <div class="col-md-6 col-lg-12 grid-margin stretch-card">
                                      <div class="card bg-danger card-rounded">
                                        <div class="card-body pb-0">
                                          <h4 class="card-title card-title-dash text-white mb-4">Sessions Summary</h4>
                                          <div class="row">
                                            <div class="col-sm-4">
                                              <p class="status-summary-ight-white mb-1">This Week</p>
                                              <h2 class="text-light">{{ total_sessions }}</h2>
                                            </div>
                                            <div class="col-sm-8 ml-2">
                                              <div class="status-summary-chart-wrapper pb-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                                <canvas id="status-summary" width="451" height="82" style="display: block; height: 66px; width: 361px;" class="chartjs-render-monitor"></canvas>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-6 col-lg-12 grid-margin stretch-card">
                                      <div class="card card-rounded">
                                        <div class="card-body">
                                          <h4 class="card-title card-title-dash mb-4">Site Visitors Summary</h4>
                                          <div class="row">
                                            <div class="col-sm-6">
                                              <div class="d-flex justify-content-between align-items-center mb-2 mb-sm-0">
                                                <div class="circle-progress-width">
                                                  <div id="totalVisitors" class="progressbar-js-circle pr-2">
                                                    
                                                    <div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(255, 255, 255); font-size: 0rem;">64</div></div>
                                                </div>
                                                <div>
                                                  <p class="text-small mb-2">Total Visitors</p>
                                                  <h4 class="mb-0 fw-bold">17</h4>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-sm-6">
                                              <div class="d-flex justify-content-between align-items-center">
                                                <div class="circle-progress-width">
                                                    <div id="visitperday" class="progressbar-js-circle pr-2">
                                                        
                                                        <div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(255, 255, 255); font-size: 0rem;">34</div>
                                                    </div>
                                                </div>
                                                <div>
                                                  <p class="text-small mb-2">Visits per day</p>
                                                  <h4 class="mb-0 fw-bold">5</h4>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-8 d-flex flex-column">
                                  <div class="row flex-grow">
                                    <div class="col-12 grid-margin stretch-card">
                                      <div class="card card-rounded">
                                        <div class="card-body">
                                          <div class="d-sm-flex justify-content-between align-items-start">
                                            <div>
                                              <h4 class="card-title card-title-dash">Performance Bar Chart</h4>
                                             <p class="card-subtitle card-subtitle-dash">RED Engagement Per Month</p>
                                            </div>
                                            <div>
                                              <div class="dropdown">
                                                <button class="btn btn-light dropdown-toggle toggle-dark btn-lg mb-0 me-0" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="icon-download"></i> Export </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                                  <a class="dropdown-item" href="#">PDF</a>
                                                  <a class="dropdown-item" href="#">CSV</a>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="d-sm-flex align-items-center mt-1 justify-content-between">
                                            <div></div>
                                            <div class="me-3"><div id="marketing-overview-legend"><div class="chartjs-legend"><ul><li class="text-muted text-small"><span style="background-color:#52CDFF"></span>Last week</li><li class="text-muted text-small"><span style="background-color:#1F3BB3"></span>This week</li></ul></div></div></div>
                                          </div>
                                          <div class="chartjs-bar-wrapper mt-3"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                            <canvas id="performanceBarChart" width="451" height="187" style="display: block; height: 150px; width: 361px;" class="chartjs-render-monitor"></canvas>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row flex-grow">
                                    <div class="col-12 grid-margin stretch-card">
                                      <div class="card card-rounded table-darkBGImg">
                                        <div class="card-body">
                                          <div class="col-sm-8">
                                            <h3 class="text-white upgrade-info mb-0">
                                              Enhance your <span class="fw-bold">Campaign</span> for better outreach
                                            </h3>
                                            <a href="#" class="btn btn-info upgrade-btn">Upgrade Account!</a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-4 d-flex flex-column">
                                  <div class="row flex-grow">
                                    <div class="col-12 grid-margin stretch-card">
                                      <div class="card card-rounded">
                                        <div class="card-body">
                                          <div class="row">
                                            <div class="col-lg-12"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                              <div class="d-flex justify-content-between align-items-center mb-3">
                                                <h4 class="card-title card-title-dash">Type By Amount</h4>
                                              </div>
                                              <canvas class="my-auto chartjs-render-monitor" id="doughnutChart" height="300" width="451" style="display: block; height: 240px; width: 361px;"></canvas>
                                              <div id="doughnut-chart-legend" class="mt-5 text-center"><div class="chartjs-legend"><ul class="justify-content-center"><li><span style="background-color:#1F3BB3"></span>Total</li><li><span style="background-color:#FDD0C7"></span>Net</li><li><span style="background-color:#52CDFF"></span>Gross</li><li><span style="background-color:#81DADA"></span>AVG</li></ul></div></div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row flex-grow">
                                    <div class="col-12 grid-margin stretch-card">
                                      <div class="card card-rounded">
                                        <div class="card-body">
                                          <div class="row">
                                            <div class="col-lg-12">
                                              <div class="d-flex justify-content-between align-items-center mb-3">
                                                <div>
                                                  <h4 class="card-title card-title-dash">Leave Report</h4>
                                                </div>
                                                <div>
                                                  <div class="dropdown">
                                                    <button class="btn btn-light dropdown-toggle toggle-dark btn-lg mb-0 me-0" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Month Wise </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3" style="">
                                                      <h6 class="dropdown-header">week Wise</h6>
                                                      <a class="dropdown-item" href="#">Year Wise</a>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="mt-3"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                                <canvas id="leaveReport" width="451" height="187" style="display: block; height: 150px; width: 361px;" class="chartjs-render-monitor"></canvas>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row flex-grow">
                                    <div class="col-12 grid-margin stretch-card">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                </div>
              </div>
        </div>
    </div>
{% endblock %}
</body>

{% block scripts %}
<script>
  // Get the session count value from Flask and embed it into the JavaScript
  const sessionCount = {{ session_count }};
  const inMessageCount = {{ inMessage_count }};
  const botResponseCount = {{ botMessage_count }};
  
  // Function to update the session count
  function updateSessionCount() {
      $('#session-count').text(sessionCount);
      $('#in-message-count').text(inMessageCount);
      $('#bot-response-count').text(botResponseCount);

      if ($("#performaneLine").length) {
        var graphGradient = document.getElementById("performaneLine").getContext('2d');
        var graphGradient2 = document.getElementById("performaneLine").getContext('2d');
        var saleGradientBg = graphGradient.createLinearGradient(5, 0, 5, 100);
        saleGradientBg.addColorStop(0, 'rgba(26, 115, 232, 0.18)');
        saleGradientBg.addColorStop(1, 'rgba(26, 115, 232, 0.02)');
        var saleGradientBg2 = graphGradient2.createLinearGradient(100, 0, 50, 150);
        saleGradientBg2.addColorStop(0, 'rgba(0, 208, 255, 0.19)');
        saleGradientBg2.addColorStop(1, 'rgba(0, 208, 255, 0.03)');
  
        var currentWeekSessionData = {{ current_week_session_data }};
        var previousWeekSessionData = {{ last_week_session_data }};

        var salesTopData = {
            labels: ["SUN","MON", "TUE", "WED", "THU", "FRI", "SAT",],
            datasets: [{
                label: 'This week',
                data: currentWeekSessionData,
                backgroundColor: saleGradientBg,
                borderColor: [
                    '#1F3BB3',
                ],
                borderWidth: 1.5,
                fill: true, // 3: no fill
                pointBorderWidth: 1,
                pointRadius: [4, 4, 4, 4, 4,4, 4, 4, 4, 4,4, 4, 4],
                pointHoverRadius: [2, 2, 2, 2, 2,2, 2, 2, 2, 2,2, 2, 2],
                pointBackgroundColor: ['#1F3BB3)', '#1F3BB3', '#1F3BB3', '#1F3BB3','#1F3BB3)', '#1F3BB3', '#1F3BB3',],
                pointBorderColor: ['#fff','#fff','#fff','#fff','#fff','#fff','#fff',],
            },{
              label: 'Last week',
              data: previousWeekSessionData,
              backgroundColor: saleGradientBg2,
              borderColor: [
                  '#52CDFF',
              ],
              borderWidth: 1.5,
              fill: true, // 3: no fill
              pointBorderWidth: 1,
              pointRadius: [4, 4, 4, 4, 4,4, 4, 4, 4, 4,4, 4, 4],
              pointHoverRadius: [2, 2, 2, 2, 2,2, 2, 2, 2, 2,2, 2, 2],
              pointBackgroundColor: ['#52CDFF)', '#52CDFF', '#52CDFF', '#52CDFF','#52CDFF)', '#52CDFF', '#52CDFF',],
                pointBorderColor: ['#fff','#fff','#fff','#fff','#fff','#fff','#fff',],
          }]
        };
    
        var salesTopOptions = {
          responsive: true,
          maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    gridLines: {
                        display: true,
                        drawBorder: false,
                        color:"#F0F0F0",
                        zeroLineColor: '#F0F0F0',
                    },
                    ticks: {
                      beginAtZero: false,
                      autoSkip: true,
                      maxTicksLimit: 4,
                      fontSize: 10,
                      color:"#6B778C"
                    }
                }],
                xAxes: [{
                  gridLines: {
                      display: false,
                      drawBorder: false,
                  },
                  ticks: {
                    beginAtZero: false,
                    autoSkip: true,
                    maxTicksLimit: 7,
                    fontSize: 10,
                    color:"#6B778C"
                  }
              }],
            },
            legend:false,
            legendCallback: function (chart) {
              var text = [];
              text.push('<div class="chartjs-legend"><ul>');
              for (var i = 0; i < chart.data.datasets.length; i++) {
                console.log(chart.data.datasets[i]); // see what's inside the obj.
                text.push('<li>');
                text.push('<span style="background-color:' + chart.data.datasets[i].borderColor + '">' + '</span>');
                text.push(chart.data.datasets[i].label);
                text.push('</li>');
              }
              text.push('</ul></div>');
              return text.join("");
            },
            
            elements: {
                line: {
                    tension: 0.4,
                }
            },
            tooltips: {
                backgroundColor: 'rgba(31, 59, 179, 1)',
            }
        }
        var salesTop = new Chart(graphGradient, {
            type: 'line',
            data: salesTopData,
            options: salesTopOptions
        });
        document.getElementById('performance-line-legend').innerHTML = salesTop.generateLegend();
      }

      if ($("#status-summary").length) {
        var statusSummaryChartCanvas = document.getElementById("status-summary").getContext('2d');;
        var statusData = {
            labels: ["SUN", "MON", "TUE", "WED", "THU", "FRI", "SAT",],
            datasets: [{
                label: '# of Sessions',
                data: currentWeekSessionData,
                backgroundColor: "#FFFF",
                borderColor: [
                    '#FFFF',
                ],
                borderWidth: 2,
                fill: false, // 3: no fill
                pointBorderWidth: 0,
                pointRadius: [0, 0, 0, 0, 0, 0],
                pointHoverRadius: [0, 0, 0, 0, 0, 0],
            }]
        };
    
        var statusOptions = {
          responsive: true,
          maintainAspectRatio: false,
            scales: {
                yAxes: [{
                  display:false,
                    gridLines: {
                        display: false,
                        drawBorder: false,
                        color:"#F0F0F0"
                    },
                    ticks: {
                      beginAtZero: false,
                      autoSkip: true,
                      maxTicksLimit: 4,
                      fontSize: 10,
                      color:"#FFFF"
                    }
                }],
                xAxes: [{
                  display:false,
                  gridLines: {
                      display: false,
                      drawBorder: false,
                  },
                  ticks: {
                    beginAtZero: false,
                    autoSkip: true,
                    maxTicksLimit: 7,
                    fontSize: 10,
                    color:"#FFF"
                  }
              }],
            },
            legend:false,
            
            elements: {
                line: {
                    tension: 0.4,
                }
            },
            tooltips: {
                backgroundColor: 'rgba(31, 59, 179, 1)',
            }
        }
        var statusSummaryChart = new Chart(statusSummaryChartCanvas, {
            type: 'line',
            data: statusData,
            options: statusOptions
        });
      }

      //JavaScript for Performance Bar Chart
      if ($("#performanceBarChart").length) {
        var sessionCounts = {{ session_month }};
        var marketingOverviewChart = document.getElementById("performanceBarChart").getContext('2d');
        var marketingOverviewData = {
            labels: ["JAN","FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"],
            datasets: [{
              label: 'Month',
              data: sessionCounts,
              backgroundColor: "#CE1E2D",
              borderColor: [
                  '#CE1E2D',
              ],
              borderWidth: 0,
              fill: true, // 3: no fill
          }]
        };
    
        var marketingOverviewOptions = {
          responsive: true,
          maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    gridLines: {
                        display: true,
                        drawBorder: false,
                        color:"#F0F0F0",
                        zeroLineColor: '#F0F0F0',
                    },
                    ticks: {
                      beginAtZero: true,
                      autoSkip: true,
                      maxTicksLimit: 5,
                      fontSize: 10,
                      color:"#6B778C"
                    }
                }],
                xAxes: [{
                  stacked: true,
                  barPercentage: 0.35,
                  gridLines: {
                      display: false,
                      drawBorder: false,
                  },
                  ticks: {
                    beginAtZero: false,
                    autoSkip: true,
                    maxTicksLimit: 12,
                    fontSize: 10,
                    color:"#6B778C"
                  }
              }],
            },
            legend:false,
            legendCallback: function (chart) {
              var text = [];
              text.push('<div class="chartjs-legend"><ul>');
              for (var i = 0; i < chart.data.datasets.length; i++) {
                console.log(chart.data.datasets[i]); // see what's inside the obj.
                text.push('<li class="text-muted text-small">');
                text.push('<span style="background-color:' + chart.data.datasets[i].borderColor + '">' + '</span>');
                text.push(chart.data.datasets[i].label);
                text.push('</li>');
              }
              text.push('</ul></div>');
              return text.join("");
            },
            
            elements: {
                line: {
                    tension: 0.4,
                }
            },
            tooltips: {
                backgroundColor: 'rgba(31, 59, 179, 1)',
            }
        }
        var marketingOverview = new Chart(marketingOverviewChart, {
            type: 'bar',
            data: marketingOverviewData,
            options: marketingOverviewOptions
        });
        document.getElementById('marketing-overview-legend').innerHTML = marketingOverview.generateLegend();
      }
  }

  // Call the function to initially load session count and set an interval to periodically update it
  updateSessionCount();
  setInterval(updateSessionCount, 60000); // Update every minute, adjust as needed
</script>

{% endblock %}

</html>