{% extends "base.html" %}

<html>
<body>
{% block content%}
<head>
    <link rel="stylesheet" href="/static/css/custom/datasource.css">
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.0/classic/ckeditor.js"></script>
</head>
<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
      <div class="col grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
                <h2>FAQs</h2>
                <p class="card-description">
                    Add and manage the FAQs used to train the chatbot.
                </p>
                <div class="home-tab">
                    <div class="d-flex">
                        <ul class="nav nav-pills nav-pills-success" id="pills-tab" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link" id="text-tab" data-bs-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="false">Text</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link active" id="faq-tab" data-bs-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">FAQs</a>
                            </li>
                          </ul>
                    </div>
                    <div class="my-2 d-flex justify-content-between align-items-center">
                        <div class="form-group">
                            <div class="d-flex">
                                <div class="dropdown me-2">
                                    <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Bulk Action
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                        <button class="dropdown-item bulk-delete-button" id="bulkDeleteButton">Delete Selected</button>
                                    </div>
                                </div>                                
                                <button type="button" class="btn btn-outline-dark btn-fw me-2" onclick="toggleStatistics()"><i class="mdi mdi-chart-line menu-icon"></i>View Stats</button>
                            </div>
                        </div>
                        <div class="form-group">
                          <div class="d-flex">
                              <a href="/add-data-source" type="button" class="btn btn-add-new btn-danger" style="color: #ffff;"><i class="mdi mdi-plus menu-icon"></i>Add New</a>
                          </div>
                        </div>
                      </div>
                      <div class="row statistics d-none">
                        <div class="col-md-4 mb-4">
                            <div class="statistics-details d-flex flex-column align-items-center bg-inverse-success rounded-container p-4">
                                <div>
                                    <p class="statistics-title">Total Sources</p>
                                    <h3 class="rate-percentage">{{ total_sources }}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="statistics-details d-flex flex-column align-items-center bg-inverse-info rounded-container p-4">
                                <div>
                                    <p class="statistics-title">Processed</p>
                                    <h3 class="rate-percentage">{{ processed }}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="statistics-details d-flex flex-column align-items-center bg-inverse-danger rounded-container p-4">
                                <div>
                                    <p class="statistics-title">Error</p>
                                    <h3 class="rate-percentage">{{ error }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="text-tab">
                            <!--Text Tab Content Here-->
                            <div class="table-responsive">
                                <table id="table-text" class="table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Text</th>
                                            <th>Characters</th>
                                            <th>Status</th>
                                            <th>Date Added</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in data %}
                                        <tr>
                                            <td style="width: 5%;">
                                                <div class="form-check form-check-flat form-check-primary">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input" value="{{ row.id }}">
                                                    </label>
                                                </div>
                                            </td>                                            
                                            <td style="width: 50%;">
                                                <div class="truncate-text">{{ row.dataText }}</div>
                                            </td>
                                            <td style="width: 10%; ">{{ row.characters }}</td>
                                            <td>
                                                <div class="badge badge-outline-success rounded">{{ row.status }}</div>
                                            </td>
                                            <td>{{ row.dateAdded.strftime('%B %d, %Y')}} </td>
                                            <td style="width: 5%;">
                                                <div class="dropdown me-2">
                                                    <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        <i class="mdi mdi-dots-vertical menu-icon"></i>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                        <button type="button" class="dropdown-item edit-button" data-bs-toggle="modal" data-bs-target="#editText" data-id="{{ row.id }}" data-text="{{ row.dataText }}" data-whatever="@mdo">Edit</button>
                                                        <button type="button" class="dropdown-item view-button" data-bs-toggle="modal" data-bs-target="#exampleModal-4" data-id="{{ row.id }}" data-text="{{ row.dataText }}" data-whatever="@mdo">View</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="tab-pane fade active show" id="pills-profile" role="tabpanel" aria-labelledby="faq-tab">
                            <!--FAQ Tab Content Here-->
                            <div class="table-responsive">
                                <table id="table-faq" class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>FAQ</th>
                                        <th>Characters</th>
                                        <th>Status</th>
                                        <th>Date Added</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in dataFAQ %}
                                    <tr>
                                        <td style="width: 5%;">
                                            <div class="form-check form-check-flat form-check-primary">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input" value="{{ row.id }}">
                                                </label>
                                            </div>
                                        </td>
                                        <td style="width: 50%;">
                                            <div class="accordion accordion-filled" id="accordion-{{ loop.index }}" role="tablist">
                                                <div class="card">
                                                    <div class="card-header" role="tab" id="heading-{{ loop.index }}">
                                                        <h6 class="mb-0">
                                                            <a data-bs-toggle="collapse" href="#collapse-{{ loop.index }}" aria-expanded="false" aria-controls="collapse-{{ loop.index }}" class="collapsed">
                                                                {{ row.dataFAQQuestion }}
                                                            </a>
                                                        </h6>
                                                    </div>
                                                    <div id="collapse-{{ loop.index }}" class="collapse" role="tabpanel" aria-labelledby="heading-{{ loop.index }}" data-bs-parent="#accordion-{{ loop.index }}" style="">
                                                        <div class="card-body">
                                                            <p class="mb-0">{{ row.dataFAQAnswer }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        <td style="width: 10%; ">{{ row.characters }}</td>
                                        <td>
                                            <div class="badge badge-outline-success rounded">{{ row.status }}</div>
                                        </td>
                                        <td>{{ row.dateAdded.strftime('%B %d, %Y')}} </td>
                                        <td style="width: 5%;">
                                            <div class="dropdown me-2">
                                                <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    <i class="mdi mdi-dots-vertical menu-icon"></i>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                    <button type="button" class="dropdown-item edit-button" data-bs-toggle="modal" data-bs-target="#editFAQ" data-id="{{ row.id }}" data-question="{{ row.dataFAQQuestion }}" data-answer="{{ row.dataFAQAnswer }}">Edit</button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                              </div>
                        </div>
                      </div>
                </div>
            </div>
          </div>
      </div>
      </div>
    </div>
    </div>


    <!--Modal-->
    <div class="modal fade" id="exampleModal-4" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ModalLabel">Text Data</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
                <p id="textData"></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!--Edit Text Modal-->

      <div class="modal fade" id="editText" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Update Data Source</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form method="POST" id="edit-text-form">
                    <input type="hidden" name="textId" id="textId"> <!-- Add this hidden input field -->
                    <div class="modal-body">
                        <div class="form-group">
                            <textarea name="updateText" id="editor" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Submit</button> <!-- Change to type="submit" -->
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    

      <!--Edit FAQ Modal-->

      <div class="modal fade" id="editFAQ" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Update Data Source</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form id="edit-faq-form" method="POST"> <!-- Added id to the form -->
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="questions"><b>Question:</b></label>
                            <input type="text" name="questions" class="form-control" id="questions" placeholder="Enter the Question" required>
                        </div>
                        <div class="form-group">
                            <label for="FAQEditor"><b>Answer:</b></label>
                            <textarea name="answers" id="FAQEditor" rows="10"></textarea>
                        </div>
                        <input type="hidden" name="faqID" id="faqID"> <!-- Add this hidden input field -->
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Submit</button> <!-- Change to type="submit" -->
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}
</body>

{% block scripts %}
<script>
    function toggleStatistics() {
        const statisticsDiv = document.querySelector('.statistics');
        statisticsDiv.classList.toggle('d-none');
    }
</script>

<!-- Limit Text -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var truncateElements = document.querySelectorAll(".truncate-text");
        truncateElements.forEach(function (element) {
            var text = element.textContent;
            var maxLength = 180;
            if (text.length > maxLength) {
                element.textContent = text.slice(0, maxLength) + "...";
            }
        });
    });
</script>

<!--Show Data to Modal-->
<script>
    $(document).ready(function () {
        $('#table-text').on('click', '.view-button', function () {
            var dataText = $(this).data('text');
            $('#textData').text(dataText);
        });
    });
</script>

<!--Delete Text Data-->
<script>
    $(document).ready(function() {
        $("#bulkDeleteButton").click(function() {
            var selectedIds = [];
            $("input[type=checkbox]:checked").each(function() {
                selectedIds.push($(this).val());
            });
    
            if (selectedIds.length === 0) {
                toastr.info("No rows selected for deletion");
                return;
            }
    
    
            $.ajax({
                type: "POST",
                url: "/delete_selected",
                data: { selected_ids: selectedIds },
                success: function(response) {
                    if (response.success) {
                        // Refresh the page and set the active tab again
                        location.reload(); // This will refresh the page
                        toastr.success(response.message);
                    } else {
                        toastr.error("An error occured!");
                    }
                }
            });
        });
    });
</script>

<script>
    ClassicEditor
        .create(document.querySelector('#editor'),{
            toolbar: {
                items: ['bold', 'italic', 'link', 'bulletedList', 'numberedList', 'alignment', 'undo', 'redo']
            }
        }) // Initialize CKEditor
        .then(editor => {
            // Store the CKEditor instance for later use
            var ckEditorInstance = editor;

            $('#table-text').on('click', '.edit-button', function () {
                var dataText = $(this).data('text');
                ckEditorInstance.setData(dataText); // Set data to CKEditor
            });
        })
        .catch(error => {
            console.error(error);
        });
</script>

<script>
    ClassicEditor
        .create(document.querySelector('#FAQEditor'), {
            toolbar: {
                items: ['bold', 'italic', 'link', 'bulletedList', 'numberedList', 'alignment', 'undo', 'redo']
            }
        }) // Initialize CKEditor
        .then(editor => {
            var ckEditorInstance = editor;

            $('#table-faq').on('click', '.edit-button', function () {
                var question = $(this).data('question');
                var answer = $(this).data('answer');

                $('#questions').val(question);
                ckEditorInstance.setData(answer);
            });
        })
        .catch(error => {
            console.error(error);
        });
</script>

<!--Update Text Daya Source-->

<script>
    $(document).ready(function () {

        $('#table-text').on('click', '.edit-button', function () {
            var textId = $(this).data('id');
            var dataText = $(this).data('text');
            $('#textId').val(textId); // Set the textId input field
            $('#editor').val(dataText); // Set the editor content
        });
    
        // Function to show toastr message
        function showToastrMessage(message) {
            toastr.success(message);
        }
    
        // Update Data from a Text
        $('#edit-text-form').submit(function (event) {
            event.preventDefault();
            var formData = new FormData(this);
    
            fetch("/edit-text-vector", {
                method: "POST",
                body: formData,
            })
            .then(function (response) {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error("Error completing the process.");
                }
            })
            .then(function (data) {
                // Show a success message using toastr
                showToastrMessage(data.message);
    
                // Close the modal after a successful update
                $('#editText').modal('hide');
    
                // Reload the page and activate the "text-tab"
                window.location.reload();
            })
            .catch(function (error) {
                console.error(error);
            });
        });
    
        // Check if the hash is set to "text-tab" and activate it
        if (window.location.hash === '#text-tab') {
            $('#pills-tab a[href="#pills-profile"]').removeClass('active');
            $('#pills-tab a[href="#pills-home"]').addClass('active');
            $('#pills-profile').removeClass('show active');
            $('#pills-home').addClass('show active');
        }
    });
</script>

<!--Update FAQ Data Source-->
    
<script>
    $(document).ready(function () {
        $('#table-faq').on('click', '.edit-button', function () {
            var faqID = $(this).data('id');
            $('#faqID').val(faqID); // Set the FAQ ID input field
            console.log('faqID:', faqID); // Add this line for debugging
        });
    
        // Function to show toastr message
        function showToastrMessage(message) {
            toastr.success(message);
        }
    
        // Update Data from a Text
        $('#edit-faq-form').submit(function (event) {
            event.preventDefault();
            var formData = new FormData(this);
    
            // Add console.log statements to check values
            var faqID = formData.get('faqID');
            var question = formData.get('questions');
            var answer = formData.get('answers');
            console.log('faqID:', faqID);
            console.log('question:', question);
            console.log('answer:', answer);
    
            fetch("/edit-faq-vector", {
                method: "POST",
                body: formData,
            })
            .then(function (response) {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error("Error completing the process.");
                }
            })
            .then(function (data) {
                showToastrMessage(data.message);
                $('#editFAQ').modal('hide');
                window.location.reload();
            })
            .catch(function (error) {
                console.error(error);
            });
        });
    
        // Check if the hash is set to "text-tab" and activate it
        if (window.location.hash === '#text-tab') {
            $('#pills-tab a[href="#pills-profile"]').removeClass('active');
            $('#pills-tab a[href="#pills-home"]').addClass('active');
            $('#pills-profile').removeClass('show active');
            $('#pills-home').addClass('show active');
        }
    });    
</script>

{% endblock %}

</html>
