<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{data.title}}</title>
    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
                'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
            box-sizing: border-box;
            background-color: #f8fafc;
            color: #74787e;
            height: 100%;
            hyphens: auto;
            line-height: 1.4;
            margin: 0;
            -moz-hyphens: auto;
            -ms-word-break: break-all;
            width: 100% !important;
            -webkit-hyphens: auto;
            -webkit-text-size-adjust: none;
            word-break: break-word;
        }

        @media only screen and (max-width: 600px) {
            .inner-body, .footer {
                width: 100% !important;
            }

            .button {
                width: 100% !important;
            }
        }

        @media only screen and (max-width: 500px) {
            .button {
                width: 100% !important;
            }
        }
    </style>
</head>

<body>
    <table class="wrapper" width="100%" cellpadding="0" cellspacing="0" role="presentation">
        <tr>
            <td align="center">
                <table class="content" width="100%" cellpadding="0" cellspacing="0" role="presentation">
                    <tr>
                        <td class="header" style="padding: 25px 0; text-align: center;">
                            <a href="#" style="color: #bbbfc3; font-size: 19px; font-weight: bold;
                                text-decoration: none; text-shadow: 0 1px 0 white;">
                                {{data.app_name}}
                            </a>
                        </td>
                    </tr>

                    <!-- Email Body -->
                    <tr>
                        <td class="body" style="background-color: #ffffff; border-bottom: 1px solid #edeff2;
                            border-top: 1px solid #edeff2; margin: 0; padding: 0; width: 100%;">
                            <table class="inner-body" align="center" width="570" cellpadding="0" cellspacing="0"
                                role="presentation">
                                <!-- Body content -->
                                <tr>
                                    <td class="content-cell" style="padding: 35px;">
                                        <h1 style="color: #3d4852; font-size: 19px; font-weight: bold; margin-top: 0;
                                            text-align: left;">
                                            {{data.title}}</h1>
                                        <p style="color: #3d4852; font-size: 16px; line-height: 1.5em; margin-top: 0;
                                            text-align: left;">
                                            {{data.body}}</p>
                                        <table class="action" align="center" width="100%" cellpadding="0"
                                            cellspacing="0" role="presentation" style="margin: 30px auto; padding: 0;
                                            text-align: center; width: 100%;">
                                            <tr>
                                                <td align="center">
                                                    <table width="100%" border="0" cellpadding="0" cellspacing="0"
                                                        role="presentation">
                                                        <tr>
                                                            <td align="center">
                                                                <table border="0" cellpadding="0" cellspacing="0"
                                                                    role="presentation">
                                                                    <tr>
                                                                        <td>
                                                                            <a href="https://lllj0fwc-5000.asse.devtunnels.ms/change-user-password?code={{ data.reset_code }}" 
                                                                                class="button button-primary"
                                                                                target="_blank"
                                                                                style="border-radius: 3px; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
                                                                                        color: #fff; display: inline-block; text-decoration: none;
                                                                                        -webkit-text-size-adjust: none; background-color: #3490dc;
                                                                                        border-top: 10px solid #3490dc; border-right: 18px solid #3490dc;
                                                                                        border-bottom: 10px solid #3490dc; border-left: 18px solid #3490dc;">
                                                                                Reset Password
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>

                                        <p style="color: #3d4852; font-size: 16px; line-height: 1.5em; margin-top: 0;
                                            text-align: left;">
                                            Regards,<br>
                                            Developer</p>

                                        <table class="subcopy" width="100%" cellpadding="0" cellspacing="0"
                                            role="presentation" style="border-top: 1px solid #edeff2; margin-top: 25px;
                                            padding-top: 25px;">
                                            <tr>
                                                <td>
                                                    <p style="color: #3d4852; line-height: 1.5em; margin-top: 0; text-align: left;
                                                        font-size: 12px;">
                                                        If you’re having trouble clicking the "Reset Password" button, copy
                                                        and paste the URL below into your web browser:
                                                        <a href="https://lllj0fwc-5000.asse.devtunnels.ms/change-user-password?code={{ data.reset_code }}" style="color: #3869d4;">Reset Link</a>
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <table class="footer" align="center" width="570" cellpadding="0" cellspacing="0"
                                role="presentation">
                                <tr>
                                    <td class="content-cell" align="center" style="padding: 35px;">
                                        <p style="line-height: 1.5em; margin-top: 0; color: #aeaeae; font-size: 12px;
                                            text-align: center;">
                                            {{data.app_name}}. All rights reserved.</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>