{% extends "base.html" %}

<html>
<body>
{% block content%}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
              <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                <div class="card card-rounded">
                  <div class="card-body">
                    <div class="d-sm-flex justify-content-between align-items-start">
                      <div>
                       <h4 class="card-title card-title-dash">User Engagement Line Chart</h4>
                       <h5 class="card-subtitle card-subtitle-dash">This line chart provides the user engagement data on the chatbot based on its date range.</h5>
                      </div>
                      <div>
                        <div class="dropdown">
                          <button class="btn btn-light dropdown-toggle toggle-dark btn-sm mb-0 me-0" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="icon-download"></i> Export </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                            <!--<a id="generatePDF" class="dropdown-item" href="#">PDF</a>-->
                            <a id="generateCSV" class="dropdown-item" href="#">CSV</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="d-sm-flex align-items-center mt-1 justify-content-between">
                      <div></div>
                      <div id="performance-line-legend"><div class="chartjs-legend"><ul><li><span style="background-color:#1F3BB3"></span>This week</li><li><span style="background-color:#52CDFF"></span>Last week</li></ul></div></div>
                    </div>
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="input-group input-daterange d-flex align-items-center">
                          <input type="text" class="form-control date-from" id="date-from">
                          <div class="input-group-addon mx-4">to</div>
                          <input type="text" class="form-control date-to" id="date-to">
                          <button type="button" class="btn btn-success btn-sm" id="filter-btn">Filter</button>
                        </div>                    
                      </div>
                    </div>
                    <div class="chartjs-wrapper mt-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                      <canvas id="performaneLine" style="display: block; width: 775px; height: 400px;" width="775" height="150" class="chartjs-render-monitor"></canvas> 
                    </div>
                  </div>
                </div>
              </div>
              <!--
              <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                <div class="card card-rounded">
                  <div class="card-body">
                    <div class="d-sm-flex justify-content-between align-items-start">
                    <div>
                      <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle toggle-dark btn-sm mb-0 me-0" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="icon-download"></i> Export </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                          <a id="generatePDF-data" class="dropdown-item" href="#">PDF</a>
                          <a id="generateCSV-data" class="dropdown-item" href="#">CSV</a>
                        </div>
                      </div>
                    </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="table-responsive">
                          <table class="table dataTable" id="userEngagementTable">
                            <thead>
                              <tr>
                                <th>Date</th>
                                <th>User/Session</th>
                              </tr>
                            </thead>
                            <tbody>

                            </tbody>
                            <tfoot>
                            </tfoot>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>                  
                </div>
              </div>-->
            </div>
        </div>
    </div>
{% endblock %}
</body>

{% block scripts %}

<script>
  $(document).ready(function () {
      // Fetch user engagement data on page load
      fetchUserEngagementData();

      $("#filter-btn").on("click", function () {
        filterUserEngagementData();
      });

      function filterUserEngagementData() {
        var dateFrom = $("#date-from").val();
        var dateTo = $("#date-to").val();

        $.ajax({
            type: "GET",
            url: "/filter-user-engagement-data",
            data: { date_from: dateFrom, date_to: dateTo },
            success: function (response) {
                updateSessionCount(response.date_labels, response.session_data);
            },
            error: function (error) {
                console.error("Error fetching user engagement data:", error);
            }
        });
      }

      function fetchUserEngagementData() {
          $.ajax({
              type: "GET",
              url: "/user-engagement-data",
              success: function (response) {
                  updateSessionCount(response.date_labels, response.session_data);
              },
              error: function (error) {
                  console.error("Error fetching user engagement data:", error);
              }
          });
      }

      // Function to update the session count
  function updateSessionCount(labels, data, dateRange) {

    if ($("#performaneLine").length) {
      var graphGradient = document.getElementById("performaneLine").getContext('2d');
      var graphGradient2 = document.getElementById("performaneLine").getContext('2d');
      var saleGradientBg = graphGradient.createLinearGradient(5, 0, 5, 100);
      saleGradientBg.addColorStop(0, 'rgba(26, 115, 232, 0.18)');
      saleGradientBg.addColorStop(1, 'rgba(26, 115, 232, 0.02)');
      var saleGradientBg2 = graphGradient2.createLinearGradient(100, 0, 50, 150);
      saleGradientBg2.addColorStop(0, 'rgba(0, 208, 255, 0.19)');
      saleGradientBg2.addColorStop(1, 'rgba(0, 208, 255, 0.03)');
      var salesTopData = {
          labels: labels,
          datasets: [{
              label: "Number of User",
              data: data,
              backgroundColor: saleGradientBg,
              borderColor: [
                  '#1F3BB3',
              ],
              borderWidth: 1.5,
              fill: true, // 3: no fill
              pointBorderWidth: 1,
              pointRadius: [4, 4, 4, 4, 4,4, 4, 4, 4, 4,4, 4, 4],
              pointHoverRadius: [2, 2, 2, 2, 2,2, 2, 2, 2, 2,2, 2, 2],
              pointBackgroundColor: ['#1F3BB3)', '#1F3BB3', '#1F3BB3', '#1F3BB3','#1F3BB3)', '#1F3BB3', '#1F3BB3', '#1F3BB3','#1F3BB3)', '#1F3BB3', '#1F3BB3', '#1F3BB3','#1F3BB3)'],
              pointBorderColor: ['#fff','#fff','#fff','#fff','#fff','#fff','#fff','#fff','#fff','#fff','#fff','#fff','#fff',],
          }]
      };
  
      var salesTopOptions = {
        responsive: true,
        maintainAspectRatio: false,
          scales: {
              yAxes: [{
                  gridLines: {
                      display: true,
                      drawBorder: false,
                      color:"#F0F0F0",
                      zeroLineColor: '#F0F0F0',
                  },
                  ticks: {
                    beginAtZero: false,
                    autoSkip: true,
                    maxTicksLimit: 4,
                    fontSize: 10,
                    color:"#6B778C"
                  }
              }],
              xAxes: [{
                gridLines: {
                    display: false,
                    drawBorder: false,
                },
                ticks: {
                  beginAtZero: false,
                  autoSkip: true,
                  maxTicksLimit: 7,
                  fontSize: 10,
                  color:"#6B778C"
                }
            }],
          },
          legend:false,
          legendCallback: function (chart) {
            var text = [];
            text.push('<div class="chartjs-legend"><ul>');
            for (var i = 0; i < chart.data.datasets.length; i++) {
              console.log(chart.data.datasets[i]); // see what's inside the obj.
              text.push('<li>');
              text.push('<span style="background-color:' + chart.data.datasets[i].borderColor + '">' + '</span>');
              text.push(chart.data.datasets[i].label);
              text.push('</li>');
            }
            text.push('</ul></div>');
            return text.join("");
          },
          
          elements: {
              line: {
                  tension: 0.4,
              }
          },
          tooltips: {
              backgroundColor: 'rgba(31, 59, 179, 1)',
          }
      }
      var salesTop = new Chart(graphGradient, {
          type: 'line',
          data: salesTopData,
          options: salesTopOptions
      });
      document.getElementById('performance-line-legend').innerHTML = salesTop.generateLegend();
    }
  }

  });
</script>

<script>
  $(document).ready(function () {
      // Fetch user engagement data on page load
      fetchUserEngagement();

      function fetchUserEngagement() {
          $.ajax({
              type: "GET",  // Change the method to GET
              url: "/fetch-user-engagement",
              success: function (response) {
                  updateTable(response.labels, response.data);
              },
              error: function (error) {
                  console.error("Error fetching user engagement:", error);
              }
          });
      }

      function updateTable(labels, data) {
          var tableBody = $("#userEngagementTable tbody");
          var tableFooter = $("#userEngagementTable tfoot");

          // Clear existing table rows and footer
          tableBody.empty();
          tableFooter.empty();

          // Populate table with fetched data
          var totalEngagement = 0;
          for (var i = 0; i < labels.length; i++) {
              var newRow = $("<tr>");
              newRow.append($("<td>").text(labels[i]));
              newRow.append($("<td>").text(data[i]));
              tableBody.append(newRow);

              // Update total engagement
              totalEngagement += data[i];
          }

          // Add row for total engagement
          var totalRow = $("<tr>");
          totalRow.append($("<td>").text("Total").css("font-weight", "bold"));
          totalRow.append($("<td>").text(totalEngagement).css("font-weight", "bold"));
          tableFooter.append(totalRow);
      }

      // Optional: Add code for updating the table periodically
      setInterval(fetchUserEngagement, 60000);
  });
</script>



<!--Generate Report-->

<script>
  $(document).ready(function () {

    function generatePDF() {
        // Get date inputs
        var dateFrom = $('#date-from').val();
        var dateTo = $('#date-to').val();

        // AJAX request to generate PDF
        $.ajax({
            url: '/generate-engagement-line-report',  // Replace with your Flask route for generating PDF
            method: 'GET',
            data: { date_from: dateFrom, date_to: dateTo },
            success: function () {
                console.log('PDF generated successfully');
                // You can add additional logic here if needed
            },
            error: function (error) {
                console.error('Error generating PDF:', error);
            }
        });
    }

    $('#generatePDF').click(function () {
        generatePDF();
    });

    // Add any additional logic or event handlers as needed
});

</script>

<script>
  $(document).ready(function () {
    function generatePDF() {
        // AJAX request to generate PDF for the current month
        $.ajax({
            url: '/generate-engagement-data-report',
            method: 'GET',
            success: function (response) {
                console.log('PDF generated successfully');
                // You can add additional logic here if needed
            },
            error: function (error) {
                console.error('Error generating PDF:', error);
            }
        });
    }

    $('#generatePDF-data').click(function () {
        generatePDF();
    });

    // Add any additional logic or event handlers as needed
  });
</script>


<!--Generate CSV-->

<script>
  $(document).ready(function () {
      // Event handler for the "Generate CSV" button
      $("#generateCSV").on("click", function () {
          // Get date inputs
          var dateFrom = $('#date-from').val();
          var dateTo = $('#date-to').val();

          // AJAX request to generate CSV
          $.ajax({
              url: '/generate-user-engagement-data-csv',
              method: 'GET',
              data: { date_from: dateFrom, date_to: dateTo },
              success: function (data) {
                  // Handle success, e.g., show a success message
                  console.log('CSV generated successfully');

                  // Trigger download with the desired filename
                  downloadCSV(data, 'User_Engagement_Data_' + getCurrentDate() + '.csv');
              },
              error: function (error) {
                  // Handle error, e.g., show an error message
                  console.error('Error generating CSV:', error);
              }
          });
      });

      // Function to trigger CSV download
      function downloadCSV(data, filename) {
          var blob = new Blob([data], { type: 'text/csv' });
          var link = document.createElement('a');

          link.href = window.URL.createObjectURL(blob);
          link.download = filename;

          // Append the link to the body
          document.body.appendChild(link);

          // Trigger a click event on the link
          link.click();

          // Remove the link from the body
          document.body.removeChild(link);
      }

      // Function to get the current date in the 'YYYY-MM-DD' format
      function getCurrentDate() {
          var today = new Date();
          var dd = String(today.getDate()).padStart(2, '0');
          var mm = String(today.getMonth() + 1).padStart(2, '0'); // January is 0!
          var yyyy = today.getFullYear();

          return yyyy + '-' + mm + '-' + dd;
      }

      // Add any additional logic or event handlers as needed
  });
</script>

<!-- Add this script in your HTML template -->
<script>
  $(document).ready(function () {
      // Event handler for the "Generate CSV" button
      $("#generateCSV-data").on("click", function () {
          // AJAX request to generate CSV for the current month
          $.ajax({
              url: '/generate-engagement-month-csv',
              method: 'GET',
              success: function (data) {
                  // Handle success, e.g., show a success message
                  console.log('CSV generated successfully');
                  
                  // Trigger the CSV download
                  window.location.href = '/generate-engagement-month-csv';
              },
              error: function (error) {
                  // Handle error, e.g., show an error message
                  console.error('Error generating CSV:', error);
              }
          });
      });

      // Add any additional logic or event handlers as needed
  });
</script>






</html>


{% endblock %}

</html>
